/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
    --primary-bg: #f8f9fa;
    --secondary-bg: #dee2e6;
    --mid: #adb5bd;
    --secondary-text: #495057;
    --primary-text: #212529;
}

:root[data-theme='dark']{
    --primary-text: #f8f9fa;
    --secondary-text: #dee2e6;
    --mid: #adb5bd;
    --secondary-bg: #495057;
    --primary-bg: #212529;
}

body {
    font-family: system-ui, sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

body header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

#color-scheme-toggle {
    background-color: transparent;
    border: none;
}